

	.grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 16px;
		row-gap: 40px
	}

	.thumbnail{
		width: 100%;
	}

	.thumbnail-container{
		position: relative;
	}

	.video-duration{
		position: absolute;
		background-color: black;
		color: white;
		bottom: 7px;
		right: 3px;
		font-family: Roboto, Arial;
		font-size: 13px;
		font-weight: 500;
		padding: 3px 4px;
		border-radius: 1px;

	}

	.video-info-grid{
		display: grid;
		grid-template-columns: 50px 1fr;
		margin-top: 8px;
	}

	.channel-picture{
		margin-top: 8px;
		width: 100%;
	}

	.profile-picture{
		width: 40px;
		border-radius: 40px;
	}

	.video-title{
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 12px;
	}

	.video-stats,
	.channel-name{
		color: #606060;
		font-size: 12px;

	}

	.channel-name{
		margin-bottom: 4px;
	}
